[Desktop Entry]
Type=Application
Name=Software
Comment=Browse and install software from the Linux distribution repositories
Exec=/wl-software
Icon=package
Categories=System;PackageManager;
