# Ignore build artifacts
#build/
#*.iso
bin/
dist-newstyle/
qemu.log
__pycache__/
node_modules/
!third_party/posix/
!third_party/posix/**
cfwallpaper.png
cfwallpaper.gif
src/minimal_os/display/generated_wallpaper.d
